<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank"href="https://p1website.guptatavish.repl.co/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="https://youtube.com/shorts/l8X3Ez0_F_E?si=M1Y3sXLukJA2RfOZ"><a target="_blank" href="https://youtu.be/34Na4j8AVgA?si=MdA1qxDu8sw9uh9D" class="nav-link px-2 text-body-secondary">About Us</a></li>
      <li class="nav-item"><a target="_blank" href="https://unstop.com/hackathons" class="nav-link px-2 text-body-secondary">Upcoming Hackathons</a></li>
      <li class="nav-item"><a target="_blank" href="https://youtu.be/dQw4w9WgXcQ?si=E4CQs1PSPEEI4Idy" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a target="_blank" href="https://youtu.be/yBDHkveJUf4?si=gCLQSBGKp7RM5ujC" class="nav-link px-2 text-body-secondary">How did we code this?</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 23BCP064</p>
  </footer>
</div>