<div  class="border-bottom row " style="margin-bottom :16px; padding-bottom:12px;">
  <div class="col-9 ">
  <h4 style="color:rgb(120,150,120) ; margin-bottom:4px;">{{job['title']}}</h4>
  <div class="mb-1">
      <b>Location</b> : {{job['location']}}
  </div>
  {% if 'salary' in job %}
  <div>
    <b>Salary:</b>{{job['salary']}}
  </div>
  {% endif %}
  </div>
  <div class="col-3">
  <a href="mailto:tavishgupta9@gmail.com?subject=Excited%20to%20be%20a%20part%20of%20TechBios!%2C%20applying%20for%20the%20role%20of%20{{job['title']}}&body=Hi%20there%20my%20name%20is%3A%0D%0AMy%20Instagram%20id%3A%0D%0AMy%20Linkedin%20id%3A%0D%0AMy%20Github%20Profile%3A" type="button" class="btn btn-primary">Apply Fast! 
  </a> </div>
</div>